{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<section id="banner"  class="banner">
    <h2>A little about me...</h2>
</section>
    <section class="about sliding-text">
        <h3>About Me</h3>
        <hr/>
        <img src="{% static 'images/banner.jpg' %}" alt="banner image" class="banner-image"/>
        <article>
            <h4>Professional Background</h4>
            <p>Hi, I’m Anthony Turner, a full-stack developer with over 10 years of experience specializing in .NET, C#, Microsoft technologies, and both front-end and back-end development. I have a strong background in IT, with 20+ years of experience working with software, hardware, and network systems. I am passionate about solving complex problems and building efficient solutions.</p>
            <p>In addition to my technical skills, I have developed a deep interest in collaborating with cross-functional teams to deliver high-quality software solutions. I have experience working with a variety of technologies including Django, PostgreSQL, React, and Azure, and have contributed to multiple projects involving cloud-based solutions, full-stack development, and legacy system modernization.</p>
            <p>When I'm not coding, I enjoy staying up to date with the latest industry trends, exploring new technologies, and working on personal projects. I also love collaborating with like-minded individuals to build meaningful and innovative solutions.</p>
        </article>
        
        <article>
            <h4>Personal Interests</h4>
            <p>In my personal time, I love playing video games, especially Marvel Rivals, Apex Legends, and Cities Skylines 1 and 2. 
                I am also a movie enthusiast and have created a home cinema theater with a 150" projector screen and projector. 
                Additionally, I have been developing a few applications: Cinema Posters Anywhere and Game Posters Anywhere to interact with playing movies and games (respectively), enhancing the cinematic and gaming experience.</p>
        </article>
    </section>

{% endblock %}
