{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}

    <!-- Education Section -->
    <section id="contact">
        <h3>Contact</h3>
        <img src="{% static 'images/banner.jpg' %}" alt="banner image" class="banner-image"/>
        <article class="contact-item">
            <h4>Feel free to reach out to me via email or social media.</h4>
            <ul>
                <li><a href="mailto:anthonybturner@icloud.com">Email: anthonybturner@icloud.com</a></li>
                <li><a href="tel:+15184758019">Phone: +1 518-475-8019</a></li>
                <li><a href="https://www.linkedin.com/in/anthony-turner-0207b76b/" target="_blank">LinkedIn: Anthony Turner</a></li>
            </ul>
        </article>
     </section>  
{% endblock %}
