{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to My Portfolio{% endblock %}

{% block content %}

<section id="banner"  class="banner">
    <h2>Welcome to my portfolio!</h2>
    <img src="{% static 'images/cyber_banner.jpg' %}" alt="banner image" class="banner-image"/>
</section>
<section id="header">
    <div class="welcome">
        <p>I'm <strong>Anthony Barrington Johns Jr Turner</strong>, a passionate and experienced software engineer with over a decade of expertise in both front-end and back-end development. My career has been driven by a deep commitment to creating innovative solutions and optimizing software performance. Throughout my journey, I’ve worked with a wide array of technologies, from .NET frameworks (ASP.NET, .NET Core) to cloud technologies like Azure, alongside hands-on experience in mobile development, API design, and systems architecture.</p>

        <p>In this portfolio, you’ll find a collection of my most notable work and projects, including dynamic web applications, cloud-based solutions, and mobile apps. I’ve had the privilege of working across diverse industries, from government and educational institutions to art curation and enterprise-level solutions.</p>

        <p>Feel free to explore my work, learn more about my background, and connect with me for potential opportunities. Thank you for visiting!</p>
    </div>
</section>

    <!-- Key Skills Section -->
    <section id="skills" class="sliding-text">
        <h3>Key Skills & Technologies</h5>
        <hr/>
        <ul>
            <li><strong>Languages:</strong> C#, C++, Java, Python, Swift, JavaScript, PHP</li>
            <li><strong>Mobile Development:</strong> Android (Java, Kotlin, SDK), iOS (Swift, React Native)</li>
            <li><strong>Web Development:</strong> .NET, ASP.NET, .NET Core, MVC, REST APIs, Angular, React</li>
            <li><strong>Databases:</strong> SQL Server, PostgreSQL, MySQL, Oracle</li>
            <li><strong>Cloud & DevOps:</strong> Azure, Docker, CI/CD pipelines, AWS</li>
            <li><strong>Tools & Frameworks:</strong> Git, Visual Studio, Azure DevOps, Jira, Node.js, Express, Django</li>
            <li><strong>System Architecture:</strong> Microservices, Event-Driven Architecture, Domain-Driven Design (DDD)</li>
            <li><strong>Testing:</strong> NUnit, JUnit, Selenium, Jest, Mocha, Postman</li>
            <li><strong>Version Control:</strong> Git, GitHub, Bitbucket</li>
        </ul>
    </section>

    <!-- Work Experience Section -->
    <section id="work-experience" class="sliding-text">
        <h3>Work Experience</h3>
        <hr/>
        <article class="job">
            <h4>Full-Stack Developer</h4>
            <h5>Rimer Cardillo - Gardiner, NY | August 2013 - Present</h5>
            <p>Collaborated with renowned Uruguayan-American artist Rimer Cardillo, celebrated for his prints, sculptures, and installations that explore themes of memory, ecology, and cultural heritage. His work has been exhibited globally in venues such as the Venice Biennale and Tate Modern, and is held in collections including the Art Institute of Chicago and Museo de Arte Moderno.</p>
            <ul>
                <li>Digital Archiving: Designed and implemented a robust digital catalog to document and showcase Rimer Cardillo's extensive body of work, ensuring accessibility for galleries, collectors, and institutions.</li>
                <li>Website Development: Developed a dynamic, user-friendly website to highlight the artist’s exhibitions, public collections, and awards, incorporating multimedia content to enhance audience engagement.</li>
                <li>Database Management: Organized and optimized digital records of artworks, exhibitions, and publications, providing efficient access to critical information for archival and promotional purposes.</li>
                <li>SEO & Online Presence: Enhanced the artist’s online presence through effective SEO strategies, improving visibility and reach for a global audience.</li>
                <li>Collaboration: Worked closely with Rimer Cardillo to align digital initiatives with his artistic vision, ensuring the preservation and promotion of his legacy.</li>
            </ul>
        </article>
        

        <article class="job">
            <h4>Cloud Software Engineer</h4>
            <h5>Constellation Software Engineering - Remote | Sept 2023 - August 2024</h5>
            <p>
                Constellation Software Engineering (CSE) is a leading provider of innovative engineering solutions for federal agencies. 
                As a .NET Developer, I contributed to the design and implementation of scalable, cloud-based systems for the Navy, focusing on security, performance, and compliance. 
                I worked closely with cross-functional teams to deliver mission-critical software, developed and optimized ORM mappings between code and the database, managed database performance, 
                and ensured high-quality code through Agile development practices and Azure DevOps.
            </p>
            <ul>
                <li>Collaborated with developers, project managers, cloud architects, and database administrators to co-lead the architecture and design of scalable cloud-based solutions for the Navy, using Azure services, ASP.NET, .NET Core, VB.NET, Python, Django, Wagtail, SQL Server, and PostgreSQL.</li>
                <li>Worked in an Agile environment, delivering iterative and high-quality software solutions under tight deadlines, with close oversight from Navy security personnel to ensure compliance with stringent protocols.</li>
                <li>Integrated code for OAuth authentication and digital card-based security systems to enhance access control, ensuring the protection of critical systems from unauthorized access in compliance with Navy applications.</li>
                <li>Worked closely with Navy clients to deliver tailored software solutions aligned with operational and security requirements.</li>
                <li>Optimized database queries for performance, ensuring efficient data handling, system responsiveness, and minimal latency in mission-critical applications.</li>
                <li>Utilized Azure's ticketing system to manage project tasks and track issues, ensuring smooth collaboration and timely issue resolution in a highly regulated environment.</li>
                <li>Managed pull requests and code reviews through Azure DevOps to maintain high code quality and seamless integration, ensuring adherence to security and functionality standards.</li>
            </ul>
        </article>

        <article class="job">
            <h4>Full-Stack Developer</h4>
            <h5>Ryan Specialties - Rockhill, NY (Hybrid)| Jan 2023 - Aug 2023</h5>
            <p>Ryan Specialties provides innovative insurance solutions, including wholesale brokerage, underwriting management, and risk management services, with a focus on technology-driven tools. At the company, I modernized legacy systems, converting VB.NET applications to C#, .NET, .NET Core, improving performance and scalability. I also redesigned a bulk email system and a RESTful Weather API, automating processes and enhancing usability. Collaborating with the marketing team, I developed tailored solutions that aligned with client needs and business objectives, while optimizing database queries to improve system performance and responsiveness.</p>
            <ul>
                <li>Converted legacy VB.NET applications to C#, .NET and .NET Core, modernizing systems to enhance performance, maintainability, and scalability.</li>
                <li>Redesigned a legacy VB.NET bulk email program, resolving broken features, improving usability, and significantly reducing manual processes, while collaborating closely with the marketing team to design and develop tailored code for client needs.</li>
                <li>Redesigned a legacy VB.NET RESTful API Weather program, resolving broken features, improving usability, and fully automating previous manual processes, while collaborating closely with the marketing team to design and develop tailored code for client needs.</li>
                <li>Collaborated closely with stakeholders to gather requirements and deliver projects that aligned with business objectives and client expectations.</li>
            </ul>
        </article>

        <article class="job">
            <h4>.NET Software Developer</h4>
            <h5>InfoEd Global - Albany, NY | Nov 2018 - Nov 2022</h5>
            <p>InfoEd Global is a leading software company that develops software and web-based applications for government and educational institutions. As a Full-Stack Developer, I contributed to the development and maintenance of InfoEd’s eRA (Electronic Research Administration) applications using C#, Visual Basic, .NET, ASP.NET, .NET Core, and worked with Oracle and SQL Server databases, ensuring high-performance solutions for government clients in both front-end and back-end development.</p>
            <ul>
                <li>Developed and maintained web applications for government and educational sectors using C#, Visual Basic, ASP.NET, .NET Core, classic ASP, and front-end technologies like Angular and JavaScript.</li>
                <li>Maintained legacy Visual Basic applications with Web Forms, ensuring ongoing functionality, fixing bugs, and adding new features to improve performance and user experience.</li>
                <li>Optimized database performance for software applications with SQL Server by refining Views, Stored Procedures, and T-SQL queries, achieving a 10–20% efficiency improvement for large-scale enterprise databases.</li>
                <li>Handled government XML and XLS conversions by importing XML schemas into Visual Studio, using XML binding to manipulate XML data with built-in tools, and mapping schema fields to ASP.NET controls for dynamic form generation.</li>
                <li>Collaborated closely with stakeholders, product managers, QA teams, and siloed developers to interpret specifications, address issues, fix bugs, add new features, and deliver high-quality solutions while maintaining coding standards.</li>
            </ul>
        </article>

        <article class="job">
            <h4>Full-stack Developer</h4>
            <h5>RevDesign - Patterson, NY | Dec 2017 - Nov 2018</h5>
            <p>RevDesign is a web development company specializing in creating custom websites and providing full-stack development solutions, utilizing modern technologies like WordPress, HTML5, CSS, JavaScript, PHP, and MySQL to build dynamic, user-friendly websites. During my time at RevDesign, I developed and maintained websites using these technologies, with a focus on creating custom WordPress sites and plugins to extend functionality. I utilized boilerplate templates for rapid development, designed custom mockups for clients, and implemented responsive designs using Bootstrap and jQuery to enhance user experience. Additionally, I managed databases, resolved technical issues, and conducted extensive UI/UX and implementation testing to ensure functionality, performance, and compatibility across different devices and browsers.</p>
            <ul>
                <li>Developed and maintained websites using VB.NET, HTML5, CSS, JavaScript, PHP, and MySQL.</li>
                <li>Created custom WordPress sites and developed WordPress plugins to extend functionality.</li>
                <li>Used boilerplate templates for rapid development and designed custom mockups for client websites.</li>
                <li>Implemented mobile accessibility and responsive designs using Bootstrap and jQuery, focusing heavily on UI/UX design principles to enhance user experience.</li>
                <li>Managed databases and resolved technical issues to enhance site performance.</li>
                <li>Conducted UI/UX and implementation testing to ensure functionality, performance, and compatibility across different devices and browsers.</li>
                <li>Enhanced client satisfaction with prompt technical issue resolution and high-quality UI/UX solutions.</li>
            </ul>
        </article>
        
        <article class="job">
            <h4>.NET Software Developer</h4>
            <h5>Precision Care Software - New Paltz, NY | Apr 2015 - Apr 2016</h5>
            <p>Precision Care Software provides case record management solutions for human service providers. During my internship, I gained hands-on experience developing and debugging web and mobile applications using technologies like C#, VB.NET, Classic ASP, ASP.NET, JavaScript, HTML5, CSS, jQuery, AngularJS, and SQL.</p>
            <ul>
                <li>Developed Single Page Applications (SPA) using .NET, ASP.NET, C#, VB.NET, JavaScript, AngularJS, and RESTful APIs.</li>
                <li>Optimized database access with ADO.NET and SQL Server/Oracle, improving data retrieval and performance.</li>
                <li>Created XML Schema Definitions (XSD) for seamless government-related data integration.</li>
                <li>Conducted testing and debugging to ensure software reliability and performance.</li>
                <li>Collaborated with cross-functional teams to deliver business-aligned solutions in an Agile environment.</li>
            </ul>
        </article>

        <article class="job">
            <h4>Mobile IOS/Android Developer</h4>
            <h5>Digital Catnip - Beacon, NY | Jan 2016 - June 2016</h5>
            <p>Upwork Contract (while pursuing studies)</p>
            <p>
                Developed a cross-platform fitness tracking app for iOS and Android using React Native, with native modules in Cocoa and Swift for iOS.
            </p>
            <ul>
                <li>Developed a cross-platform fitness tracking app for iOS and Android using React Native, with native modules in Cocoa and Swift for iOS.</li>
                <li>Designed and implemented RESTful APIs utilizing JSON for efficient data exchange between the app and external services.</li>
                <li>Monitored, processed, and analyzed user fitness data, providing users with insights to track their progress and achieve their goals.</li>
                <li>Integrated Room for storing and retrieving structured data locally in Android apps, reducing the complexity of direct SQLite management.</li>
                <li>Utilized Triggers to notify users when fitness goals were achieved, enhancing user engagement.</li>
                <li>Integrated Google Analytics for app usage logging and statistics, providing valuable insights for app improvements.</li>
                <li>Conducted thorough testing to ensure the accuracy and functionality of the app across platforms.</li>
            </ul>
        </article>
    
    </section>

    <!-- Education Section -->
    <section id="education" class="sliding-text">
        <h3>Education</h3>
        <hr/>
        <article class="education-item">
            <h4>Bachelor of Science in Computer Science</h4>
            <h5>State University of New Paltz - New Paltz, NY | 2014 - 2018</h5>
            <p>Known for its rigorous academics and hands-on approach, SUNY New Paltz offers a strong foundation in software development, algorithms, and systems design. </p>
            <ul>
                <li>Specialized in software development, object-oriented programming, algorithms, and systems design. Coursework included system analysis, Big O notation, and Discrete Mathematics.</li>
                <li>Gained hands-on experience in database management, including transactional and dimensional models, with practical use of SQL Server and PostgreSQL.</li>
                <li>Developed proficiency in VB.NET, C#, Java, and web technologies through various projects, with a focus on creating scalable, efficient, and maintainable software systems.</li>
                <li>Acquired expertise in software engineering practices, including version control, testing, and deployment, along with foundational knowledge in artificial intelligence and network security.</li>
                <li>Developed a strong passion for web programming, which led me to retake the course and achieve A+ and A grades, further enhancing my skills and understanding of web technologies.</li>
            </ul>
            
        </article>
        <article class="education-item">
            <h4>Associate of Science in Computer Science</h4>
            <h5>State University of New York Ulster - Stone Ridge, NY | 2012 - 2014</h5>
            <p>
                SUNY Ulster provides a comprehensive education in computer science with a focus on foundational programming, database management, and problem-solving skills, equipping students for entry-level roles in the tech industry or further academic pursuits.
            </p>
            <ul>
                <li>Developed a strong foundation in programming languages such as VB.NET, C#, Java, SQL, with an emphasis on database management, object-oriented programming (OOP), and systems design.</li>
                <li>Gained practical experience in algorithm analysis, including Big O notation, optimizing solutions for efficiency and scalability.</li>
                <li>Studied cryptography and security, gaining a solid understanding of encryption methods and best practices for securing applications and data.</li>
                <li>Excelled in challenging coursework, including rigorous mathematics and algorithms, where I demonstrated resilience and achieved high grades despite initial doubts.</li>
                <li>Built a strong understanding of web programming, contributing to projects that involve front-end and back-end technologies.</li>
                <li>Collaborated effectively with peers in team-based projects, enhancing communication and teamwork skills while developing practical solutions in real-world scenarios.</li>
                <li>Successfully applied knowledge of software development, database management, secure coding practices, and OOP principles to complete projects, graduating with strong academic performance.</li>
            </ul>
            
        </article>
    </section>

    <!-- Certifications Section -->
    <section id="certifications" class="sliding-text">
        <h3>Certifications</h3>
        <hr/>
        <ul>
            <li><strong>CompTIA A+ Certification</strong> – Achieved: 2011</li>
        </ul>
    </section>

      <section id="extra">
        <p>Feel free to browse through my <a href="/portfolio" class="read-more-btn">projects</a> and check out the <a href="/contact" class="read-more-btn">contact</a> section if you’d like to get in touch. I’m always open to discussing new projects, collaborations, and opportunities!</p>
    </section>

{% endblock %}
